
<li class="o-media o-media--small" data-ui-component="comment">

  <div class="o-media__body">

    <a class="c-post__owner c-link--silence" href=<%="/#{comment.owner.name}" %> >
      <strong><%= comment.owner.name %></strong>
    </a>
    <span><%= comment.content %></span>

  </div>

</li>