<p id="notice"><%= notice %></p>

<h1><%= @user.name %></h1>

<% if current_user.id != @user.id %>
  <% if current_user.following?(@user) %>
    <%= button_to 'unfollow', follow_users_path(followed_id: @user), method: :delete %>
  <% else %>
    <%= button_to  "follow", follow_users_path(followed_id: @user) %>
  <% end %>
<% end %>
