<% if object.errors.any? %>
  <div id="error_explanation" class="u-text-color-red">
    <ul class="o-list-bare">
      <% object.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
        <% end %>
    </ul>
  </div>
<% end %>