<section class="footer c-navbar c-navbar--glost o-wrapper u-margin-bottom-large" data-ui-component="site-footer">

  <div class="o-wrapper c-navbar__item u-padding-horizontal-large">
    <div class="o-list-inline c-navbar__item c-navbar__item--align-left">
      <a class="o-list-inline__item u-padding-right-tiny"><small>关于我们</small></a>
      <a class="o-list-inline__item u-padding-right-tiny"><small>支持</small></a>
      <a class="o-list-inline__item u-padding-right-tiny"><small>博客</small></a>
      <a class="o-list-inline__item u-padding-right-tiny"><small>新闻中心</small></a>
      <a class="o-list-inline__item u-padding-right-tiny"><small>API</small></a>
      <a class="o-list-inline__item u-padding-right-tiny"><small>工作</small></a>
      <a class="o-list-inline__item u-padding-right-tiny"><small>隐私</small></a>
      <a class="o-list-inline__item u-padding-right-tiny"><small>条款</small></a>
      <a class="o-list-inline__item u-padding-right-tiny"><small>目录</small></a>
      <a class="o-list-inline__item u-padding-right-tiny"><small>语言</small></a>
    </div>
    
    <div class="u-text-color-notice c-navbar__item--align-right">
      <strong>© 2017 INSTAGRAM</strong>
    </div>
  </div>

</section>