<% unless current_user.confirmed? %>
  <p>你还没有验证你的邮箱</p>
<% end %>

<%= render 'posts/new_post', post: @post %>

<section class="u-margin-bottom-large o-wrapper c-post-list c-post-list--main" data-ui-component="post-list-main">
  
  <%= render current_user.post_feeds %>

</section>