<a href="" class="c-post-click c-post--users u-margin-right">

  <div class="c-post__body">

    <%= image_tag  post.picture.middle.url, class: 'c-post__picture', alt: post.content %>

  </div>

  <div class="c-post__base">

  </div>
</a>
