/*
component: navbar
*/

$navbar-height-primary: 77px;

.c-header { 
  height: 77px;
  background-color: white;
  border-bottom: 1px solid $color-gray;
}

.c-navbar {
  display: flex;

  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.c-navbar--glost {
  background-color: transparent;
}

  .c-navbar__item {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1 1 auto;
  }

  .c-navbar__item--important {
    flex: 1 9999 auto;
  }

  .c-nav__item--not-so-important {
    flex: 0 1 auto;
  }

  .c-navbar__item--align-right {
    justify-content: flex-end;
  }

  .c-navbar__item--align-left {
    justify-content: flex-start;
  }