/* Link */
.c-link {
  
  &,
  &:visited,
  &:active {
    text-decoration: none;
  }
}

/* Varients */
.c-link--primary {

  &,
  &:visited,
  &:active {
    color: $color-blue-primary;
  }

}

.c-link--notice {
  &,
  &:visited,
  &:active {
    color: $color-dark-gray;
  }
}

.c-link--silence {
  &,
  &:visited,
  &:active {
    color: inherit;
    text-decoration: none;
  }
}