$navbar_height: 77px;
$navbar_bg_color: #fff;

.c-navbar {
  height: $navbar_height;

  background-color: $navbar_bg_color;
  border-bottom: solid 1px #eee;
}

  .c-navbar__nav {
    display: inline-block;
  }

  .c-navbar__form {
    display: inline-block;
  }

  .c-navbar__header {
    display: inline-block;
  }